@charset "UTF-8";

/*
Paleta de cores
Verde: #49a09d
Lilás: #5f2c82
*/

* {
  padding: 0px;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body,
html {
  background-color: #5f2c82;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  

  background-color: rgb(34, 33, 33);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 250px;
  height: 515px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658);
  transition: width 1s, height 0.3s;
  transition-timing-function: ease;
  transform: translate(-50%, -50%);
}

section#login > div#formulario {
  display: block;
  padding: 10px;
}

section#login > div#imagem {
  display: block;
  background-image: url(../imagens/metal.jpg);
  background-size: cover;
  height: 200px;
}

div#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#formulario > p {
  font-size: 0.8em;
}

form > div.campo {
  background-color: #5f2c82;
  width: 100%;
  display: block;
  height: 40px;
  border: 2px solid #5f2c82;
  border-radius: 8px;
  margin: 5px /*em cima e embaixo*/ 0px /*esquerda e direita*/;
}

form > div.campo > span {

  font-size: 2em;
  width: 40px;
  padding: 5px;
}

div.campo > input {
  background-color: #49a09d;
  font-size: 1em;
  width: calc(100% - 40px);
  height: 100%; 
  border: 0px;
  border-radius: 8px;
  padding: 4px;
  margin: 40px;
  transform: translateY(-81px); /*SEMPRE COLOQUE TRANSFORMACOES POR ULTIMO*/
}

div.campo > input:focus-within{ /*foco ao clicar*/
  background-color: white;
}

form > div.campo > label {
  display: none;
}

form > div > input[type='submit'] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #49a09d;
  color: white;
  cursor: pointer;
}

form > div > input[type='submit']:hover {
  background-color: #2b5c5a;
}

form > a.botao {
  display: block;
  width: 100%;
  height: 40px;
  padding-top: 8px;
  margin-top: 10px;

  text-align: center;
  text-decoration: none;
  color: #aaf5f2;
  font-size: 1em;

  border: 1px solid #49a09d;
  border-radius: 5px;
}

form > a.botao > span {
  font-size: 0.8em;
}

form > a.botao:hover {
  background-color: #49a09d;
}


